<table class="table">
    <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col">avg rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="{{book.img}}" height="100px"></td>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.rating}}</td>
        </tr>
      </tbody>

</table>
<br/>
<div class="center">
<button type="button" class="btn btn-primary" (click)="logout()">log out</button>
<button type="button" class="btn btn-primary" (click)="home()">home page</button>
</div>
