<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
    
          <form>
            <input type="text" id="login" class="fadeIn second" name="username1" placeholder="username" [(ngModel)] = "username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
            <input type="button" class="fadeIn fifth" value="Back" (click)="back()">
          </form>
          <span style="color:red">{{message}}</span>
        </div>
      </div>
</body>