<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

      <form>
        <input type="text" id="login1" class="fadeIn second" name="username1" placeholder="username" [(ngModel)] = "username1">
        <input type="password" id="password1" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password1">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
        <input type="button" class="fadeIn fifth" value="Back" (click)="back()">
      </form>
      <span style="color:red">{{messagee}}</span>
    <br/>
      <span (click)="scroll(eleg)" class="underline">register ⬇️</span>
    </div>
  </div>
  <span #eleg></span>
</body>
  


