body {
    background-color: #56baed;

    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
  }

button{
  margin:2px;
}

img{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

