table{
  display: inline-table;
  width: 94vw;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1vw;
}
th {
  padding: 0.5vw;
  text-align: left;
  font-family: sans-serif;
}
tr {
  border-bottom: solid 1px #ddd;
}

img{
    max-height:480px;
    max-width:300px;
    height:auto;
    width:auto;
}

button{
  margin:2px;
}
